# SFDX files
.sfdx/
.sf/
.localdevserver/
deploy-options.json

# IDE files
.vscode/settings.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json
.code/
.vscode/
.idea/
.copado/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

package.xml
classes/copado__*
triggers/copado__*
pages/copado__*.copado/copado-config.json

reports/*
!reports/unfiled\$public/
